html. body{ height: 100%; }

body{
	background: url(images/cosmos.jpg);
	background-size: cover;
}
.earth{
	width: 600px;
	padding: 200px;
	position: relative;
	z-index: 1;
}

.moon {
	position: absolute;
	top: 340px;
	left: 340px;
	-webkit-animation: linear 5s orbita infinite;
	animation: linear 5s orbita infinite;
	z-index: 0;
}

@-webkit-keyframes orbita {
	0%{ width: 144px; }
	24%{ z-index: 0; }
	25%{ left: 760px; top: 260px; z-index: 2; }
	50%{ width: 240px; }
	74%{ z-index: 2; }
	75%{ top: 600px; left: 80px; z-index: 0; }
	100%{ width: 144px; transform: rotate(360deg); }
}
